*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    height: 700px;
    width: 800px;
    background-color: rgb(54, 79, 102);
    border-radius: 16px;
}

.addTaskDiv{
    position: absolute;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    height: 50px;
    bottom: 0;
}

.addTaskInput{
    
    font-weight: bold;
    font-size: 17px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 25px;
    width:700px;
    height: 100%;
}

.addTaskBtn{
    cursor: pointer;
    width: 90px;
    height: 100%;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgb(51, 219, 51);
    font-size: 17px;
    font-weight: bold;
    
}

.tasks-list{
    list-style-type: none;
    margin-top: 14px;
    
}

.tasks-list-element{
    position: relative;
    padding-top: 20px;
    cursor: pointer;


}

.tasks-list-element:hover{
    background-color: rgb(46, 67, 84);
    
}

.color{
    background-color: rgb(28, 39, 48);
}

.tasks-list-element span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    
    height: 100%;
}

.tasks-list-element span.done{
    text-decoration: line-through;
}

.delete-task-btn{
    cursor: pointer;
    background-color: red;
    padding: 4px;
    top: 7px;
    position: absolute;
    right:10px;
    font-size: 20px;
    font-weight: bold;

}

.delete-task-btn:hover{
    background-color: rgb(202, 46, 46);
}

.line{
    position: absolute;
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    background-color: black;
}